<div class="todo">
    <h2>TODO LIST</h2>

    <div ng-repeat="x in vm.todoList">
        <input type="checkbox" class="">
        <span ng-bind="x.todoText"></span>
        {{x}}
        <button class="edit-btn" ng-click="vm.edit(x)">Edit</button>
        <span ng-if="vm.isEdit">
            <form ng-submit="vm.todoAdd()">
                Title: {{x.title}}<input type="text" ng-model="vm.title"><br>
                description: {{x.description}}<input type="text" ng-model="vm.description"><br>
                date: {{x.date}}<input type="date" ng-model="vm.date"><br>
               
                <input type="submit" value="Submit">
              </form>
        </span>

    </div>

    <p>
        <button ng-click="vm.remove()">Remove</button>
    </p>
</div>